name: Flutter CI/CD

on:
  push:
    branches:
      - release
  # pull_request:
#   branches:
#     - release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Set up JDK 17
        uses: actions/setup-java@v3.12.0
        with:
          distribution: "oracle"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2.10.0
        with:
          channel: "stable"
          architecture: x64

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK Tentu bantu
        run: flutter build apk --release lib/main_bantu.dart --flavor bantu --no-tree-shake-icons

      - name: move APK file Staging
        run: mv build/app/outputs/flutter-apk/app-bantu-release.apk app-release.apk

      - name: Upload to gdrive Staging
        uses: agusprayogi02/auto-upload-gdrive@v1.0.1
        with:
          credentials: ${{ secrets.GOOGLE_DRIVE_SERVICE_ACCOUNT }}
          filename: app-release.apk
          mimeType: "application/vnd.android.package-archive"
          # filename: release/login.json
          folderId: 1Ysa54l9vzESOMvatc8gn1FrlA77KG2ZJ
          overwrite: true
          encoded: true

      - name: Build APK Tentu Bisa
        run: flutter build apk --release lib/main_bisa.dart --flavor bisa --no-tree-shake-icons

      - name: move APK file Develop
        run: mv build/app/outputs/flutter-apk/app-bisa-release.apk app-release.apk
      #       - name: Archive files
      #         # run: cp login.json release/login.json
      #         run: zip -r app.zip app-release.apk

      - name: Upload to gdrive Develop
        uses: agusprayogi02/auto-upload-gdrive@v1.0.1
        with:
          credentials: ${{ secrets.GOOGLE_DRIVE_SERVICE_ACCOUNT }}
          filename: app-release.apk
          mimeType: "application/vnd.android.package-archive"
          # filename: release/login.json
          folderId: 1wm6mcU9uUz195t7V85kTJaPvG1Kjpm2g
          overwrite: true
          encoded: true
